<hr>
<p>binding works!</p>
<!--property binding example-->
<input type="text" value="hi all" [disabled]="isDisabled" />
<!--class & style binding-->

<h3 [class]="redclass">Apply Here</h3>
<h3 [class]="redclass" [ngClass]="{'red-color':isDisabled}">Join now for free</h3>
<h3 [style.color]="isDisabled ?'green' :'yellow' ">subscribe now</h3>
<h3 [ngStyle]="{'background-color': isDisabled ?'green' :'yellow'}">Download now</h3>
<button (click)="eventfunction()">click me</button> <br/>

<input type="text" [(ngModel)]="twoway" /> yours value: {{twoway}}